
{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Lorem</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, aut dignissimos. Dolorum architecto laboriosam inventore error ducimus quaerat eos, nulla nihil obcaecati necessitatibus, consequatur commodi vitae autem esse omnis aliquid?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/node-logo.jpg" alt="img-thumbnail">
    </div>

</div>
   
{{> footer }}